page-login {
    .scroll-content {
        background: linear-gradient(to bottom right, #bf2936, #96131e);
    }

    .logoLogin {
        width: 120px
    }

    .divLogin {
        margin-top: 70px;
        text-align: center
    }

    .mg-top-login {
        margin-top: 20px
    }

    .mg-top-btnLogin {
        margin-top: 10%
    }
}
