<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>619285745305-rvftpmer62nrjlbkoqkg1g63s7cv87nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619285745305-rvftpmer62nrjlbkoqkg1g63s7cv87nt</string>
	<key>API_KEY</key>
	<string>AIzaSyD8CH2OcGFppMI6gG9EDtWcH9uMIfERzFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>619285745305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.sunshine.albumcopadomundo</string>
	<key>PROJECT_ID</key>
	<string>app-album</string>
	<key>STORAGE_BUCKET</key>
	<string>app-album.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619285745305:ios:32768f98a4d78a93</string>
	<key>DATABASE_URL</key>
	<string>https://app-album.firebaseio.com</string>
</dict>
</plist>