page-conta {
    .topmg {
        margin-top: 40px;
        position: relative
    }

    .topmg2 {
        margin-top: 20px;
        position: relative
    }


    .divCol {
        border-right: 2px solid #999;
        height: 35px
    }

    ion-label {
        font-size: 12px !important
    }
}
