page-chat {
    .no-pad {
        padding: 0px
    }

    .button-clear-md.activated {
        background-color: transparent
    }

    .button-inner {
        margin-right: -20px;
    }

    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        position: relative;
    }

    .friend {
        width: 70%;
        position: relative;
        margin-right: 30%;
    }
    
    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
        width: 70%;
        position: relative;
        margin-left: 30%;
    }
    
    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }
    
    /* Style images */
    .container img {
        float: left;
        max-width: 60px;
        width: 20%;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    /* Style the right image */
    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
    }
    
    /* Style time text */
    .time-right {
        position: absolute;
        bottom: 5px;
        left: 65px;
        color: #aaa;
        font-size: 10px
    }
    
    /* Style time text */
    .time-left {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: #999;
        font-size: 10px
    }
}
