page-album {
    .card-tem {
        border: 2px solid #96131e;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url('../assets/imgs/pattern-red.jpg');
        background-size: cover;
        background-position: center;
    }

    .card-naotem {
        border: 2px solid #999;
        padding-top: 30px;
        padding-bottom: 30px;
        background-image: url('../assets/imgs/pattern-g.jpg');
        background-size: cover;
        background-position: center;
    }

    .num {
        color: #fff;
        font-weight: 700
    }

    .gridFigurinhas {
        margin-top: 20px
    }

    .topmg {
        margin-top: 40px;
        position: relative
    }
}
