<ion-content padding>

  <div class="center topmg" (click)="fechar()">
    <h6 style="color: #999" class="bold">Voltar</h6>
  </div>

  <div class="center topmg">
    <h3 style="color: #999">Evento</h3>
    <div style="height: 2px; width: 15%; background-color: #96131e; position: absolute; left: 42.5%"></div>
    <h6 style="color: #999; margin-top: 30px">Troque suas figurinhas</h6>
  </div>

  <ion-grid style="margin-top: 20px">
    <ion-row>
      <ion-col col-12>
        <span>
          <ion-icon style="color:#96131e" name="ios-navigate"></ion-icon>
        </span>
        <span style="margin-left: 10px">
          {{evento.cidade}} - {{evento.estado}} | {{evento.endereco}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <span>
          <ion-icon style="color:#96131e" name="md-calendar"></ion-icon>
        </span>
        <span style="margin-left: 10px">
          {{evento.dia}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <span>
          <ion-icon style="color:#96131e" name="ios-time"></ion-icon>
        </span>
        <span style="margin-left: 10px">
          {{evento.horario}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 50px">
      <ion-col col-6 class="divCol" style="text-align:center">
        <span style="color: #999; font-size: 20px">{{confirmados}}</span>
        <br>
        <span style="color: #999">confirmados</span>
      </ion-col>

      <ion-col col-6 style="text-align:center" >
        <ion-icon (click)="confirmar()" *ngIf="!confirmado" style="color: #999; font-size: 28px" name="md-checkmark-circle-outline"></ion-icon>
        <ion-icon (click)="cancelar()" *ngIf="confirmado" style="color: #999; font-size: 28px" name="md-close-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="center" style="margin: 20px 0px">
      <button ion-button icon-left style="text-transform: none" (click)="compartilhar()">
        <ion-icon name="share-alt"></ion-icon>
        Compartilhar evento
      </button>  
    </div>

  <div *ngIf="evento.criador === uid" class="center topmg" (click)="excluir()">
      <p style="color: red" class="bold">Excluir evento</p>
  </div>

</ion-content>
